*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
$fg-color: rgba(238, 86, 59, 0.247);

body {
  overflow: hidden;
}
.glass {
  height: 40px;
  background-color: #fdb084fa;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    color: rgb(0, 0, 0);
    font-size: 19px;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    background-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
  }
 
  .search-icon {
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
  }
}
 
//Ad Styles
 
#ad {
  line-height: 1.75rem;
}
 
//Navbar Styles
 
.glass:hover input {
  padding: 0 10px;
  width: 250px;
  transition: width 0.4s linear;
}
 
.icon {
  img {
    height: 50px;
    border-radius: 50%;
  }
}
 
.background {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background: linear-gradient(
    to bottom,
    rgb(255, 171, 116),
    rgb(255, 177, 158)
  );
}
.weather-card {
  margin-top: 40px;
  border-radius: 10px;
  width: 65%;
  height: 250px;
  background-color: rgba(248, 142, 80, 0.733);
  color: white;
  position: relative;
  img {
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
  }
  .deg{
      position: absolute;
    top: 50px;
    left: -11px;
}
.sun{
    position: absolute;
    top: 180px;
    left: -5px;

    color: rgb(248, 142, 80);
}
}

//slider styles

.slider{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    gap: 1vw;
    height: 10vh;
    margin-top: 10px;
    .slider-card{
        cursor: pointer;
        .card{
            width: 16vw;
            height: 20vh;
            box-shadow: black 10 10;
            background-color: $fg-color;
            .card-body{
                .card-title{
                    text-align: center;
                    text-transform: capitalize;
                    color: black;
                }
                .card-text{
                    display: flex;
                    justify-content: space-between;
                    font-size: 3rem;
                    font-weight: 700;
                    img{
                        width: 35%;
                    }
                }
            }
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.568) 3px 3px 10px;

            }
            transition: all 0.5s;
        }
    }
}